<head>
    <meta charset="UTF-8"/>
    <title>That Clean Girl</title>
    <meta name="keywords" content="That Clean Girl">
    <meta name="description" content="That Clean Girl">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/public/css/plugin-calendar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
