<div class="client-detail module-container">
	<client-info-section-tmpl ng-model="clientDetail" data-edit-mode=false data-save-section=true></client-info-section-tmpl>
    <job-detail-section-tmpl ng-model="clientDetail"  data-edit-mode=false data-save-section=true></job-detail-section-tmpl>
    <reminder-info-section-tmpl ng-model="clientDetail"  data-edit-mode=false data-save-section=true></reminder-info-section-tmpl>
    <payment-section-tmpl ng-model="clientDetail" data-edit-mode=false data-save-section=true></payment-section-tmpl>
	<service-history-section-tmpl ng-model="clientDetail._id" data-readonly=true ></service-history-section-tmpl>
	<comments-section-tmpl ng-model="clientDetail._id"></comments-section-tmpl>
</div>